
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title dance website
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Chewy&family=Gluten:wght@700&family=Lilita+One&family=Quintessential&family=Young+Serif&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Agbalumo&family=Chewy&family=Gluten:wght@700&family=Lilita+One&family=Quintessential&family=Young+Serif&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='style.css')
header
  nav
    .img
      img(src='logo2.png' alt='dafa ho')
    ul
      li home
      li contact
      li about
      li apply
main
  section.sec1
    .heading
      h1 HARRY&apos;S DANCE
      h1 STUDIO
      .anhead
        h1
          | DANCE IS THE POETRY OF
        h1 feets
  section.sec2
    .cards
      .card1.card
        .img1
          img(src='dance pic.png' alt='')
        h2
          | BEST PRACTICES
      .card2.card
        .img2
          img(src='d pic.png' alt='')
        h2
          | BEST TUTORS
      .card3.card
        .img3
          img(src='an pic.png' alt='')
        h2
          | BEST CHROGRAPHY
  section.sec3
    h1 IN CONTRIBUTION WITH
    .secmain
      .cel1.cel
        .chr
          img(width='400vw' src='remo.jpeg' alt='')
        h2 Remo D Suza
      .cel2.cel
        .chr
          | A
          img(width='350vw' src='raghav.jpeg' alt='')
        h2 Raghav Juyal
      .cel3.cel
        .chr
          img(width='250vw' src='female1.jpg' alt='')
        h2 Parineti Chopra
  section.sec4
    h1 BEST ENVIRONMENT 
    h2 AND ALL OTHER FACILITIES
    .img5
      img(width='600vw' src='dan1.jpg' alt='')
      img(width='600vw' src='dan2.jpg' alt='')
footer.foot
  h1 ALL RIGHTS RESERVED &amp;copy
script(src='script.js')
