<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dance website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Gluten:wght@700&family=Lilita+One&family=Quintessential&family=Young+Serif&display=swap"rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Chewy&family=Gluten:wght@700&family=Lilita+One&family=Quintessential&family=Young+Serif&display=swap"rel="stylesheet">
    style 
        include ../static/sample.css

</head>

<header>
    <nav>
        <div class="img">
            <img src="/static/picss/logo2.png" alt="dafa ho">
        </div>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/videos"> Few Tutorials</a></li>

            <li><a href="/contact">apply</a></li>

        </ul>
    </nav>
</header>

<body>
    <main>
    
        <form action="/contact" method='post'>
            <div class="straight">
            <input class="inp" type="text" name="name" id="name" placeholder="Enter your name">
            <input class="inp" type="text" name="age" id="age" placeholder="Enter your age">
            <input class="inp" type="text" name="gender" id="gender" placeholder="Enter your gender">
            <input class="inp" type="text" name="location" id="locate" placeholder="enter your hometown">
            </div>
            </div>
            <div class="btn">
                <button>submit</button>
            </div>
        </form>
    </main>
</body>

</html>